/*Elements*/
body {
font-family: "Helvetica", sans-serif;
color: #333;
background-color: white;
line-height: 1.4em;
}

h1 h2 h3 h4 h5 h6 {
padding: 0;
margin: 0;
}

a {
color:#333;
text-decoration: none;
padding: 4px;
}
a:hover {
background-color: #cccc00;
color:#333;
text-decoration: none;
}
figcaption{
margin: 0;
padding: 0;
}
/*Class*/
.wrapper {
margin: 0 auto;
padding: 0;
}
.header {
padding: 10px 0;
margin: 10px 0px;
}
.header img{
margin: 0 auto;
-moz-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
}
.title {
margin-top: 30px;
}
.title h1{
margin: 10px 0px;
padding: 5px;
text-align: center;
font-size: 3.0em;
letter-spacing: .08em;
}
.title h2{
margin: 10px auto;
padding: 5px;
text-align: right;
letter-spacing: .12em;
}
.navbar {
padding: 0 auto;
margin: 0 auto;
font-size: .8em;
letter-spacing: 0.16em;
}
.navbar h4{
text-align: center;
padding: 0px;
margin: 0px;
}
.navbar h5{
background-color: #cccc00;
-moz-border-radius: 0 0  0 22px;
border-radius: 0 0  0 22px;
text-align: right;
padding: 0px 12px 0 0;
margin: 0px 0px 0px 238px;
width:672px;
}
.content {
padding: 0;
margin:30px auto;
}
.content .container_12{
padding: 0;
}
.content .grid_12{
margin: 0 auto;
padding: 0 auto;
}
.content h4 {
font-size: 1.5em;
}
.fig{
margin: 0;
padding: 0;
}
.fig img{
margin: 10 0;
}
.footer {
text-align: right;
}

/*ID*/
#Nav2 a:hover{
-moz-border-radius: 0 0  0 22px;
border-radius: 0 0  0 22px;
color: white;
}